form {
    font-size: 1.2rem;
}

form label {
    display: block;
    width: 60%;
    margin: 0 auto;
}


input,
textarea, input:focus,
textarea:focus {
    width: 100%;
    padding: .5rem;
    color: var(--black);
    border: none;
    background-color: rgba(0, 0, 0, .1);
    box-shadow: none;
    margin: 1rem 0 2rem;
}

textarea {
    resize: none;
    height: 100px;
}

form button {
    background-color: var(--secondary);
    color: var(--white);
    margin: 3rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
}

form button:hover {
    background-color: var(--secondary-dark);
}

#social-media img {
    border-radius: .5rem;
    background-color: var(--white);
    transition: all ease .3s;
    margin: 1rem;
    max-width: 50px;
}

#social-media a {
    text-decoration: none;
}


#instagram:hover, #linkedin:hover, #github:hover{
    opacity: .7;
}

@media screen and (max-width: 600px) {
    form label {
        width: 80%;
    }
}